<footer>

  <div>
    <%= link_to (image_tag('logo_colorido.png', id:'l')), pages_dashboard_path %>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorem repudiandae error sequi architecto! Inventore modi commodi iste vel, et dolorem rerum ipsam, ratione perspiciatis nisi iure magni veritatis. Quisquam!</p>
  </div>

  <div>
    <h1 class="h-line">ProcStudio 2020</h1>
  </div>

  <div>
    <h1 class="h-line">Links Úteis</h1>
    <a href="#">Work</a>
    <a href="#">Clientes</a>
    <a href="#">Usuário</a>
  </div>

  <div>
    <h1 class="h-line">Mídias Sociais</h1>
    <p> <i class="fa fa-envelope" aria-hidden="true"></i> contato@contato.com.br</p>

    <a href="#" class="icon-footer"><i class="fa fa-facebook-square"></i></a>
    <a href="#" class="icon-footer"><i class="fa fa-twitter-square"></i></a>
    <a href="#" class="icon-footer"><i class="fa fa-linkedin-square"></i></a>
  </div>

</footer>
