<div class="col-md-12 col-sm-12">
  <div class="x_panel">

    <div class="x_title">
      <h2>Cadastrando novo Tipo de Escritório</h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <%= form_with model: @office_types, local: true do |f| %>

        <div class="col-md-12">

          <div class="col-md-6">
            <b><%= f.label "Tipo de Escritório" %></b>
            <%= f.text_field :description, class:"form-control" %>
          </div>

        </div>
    </div>

        <div class="col-md-12">

          <button type="submit" name="button" class="btn btn-primary pull-right">Salvar</button>

            <%= link_to "Cancelar", office_types_path, class:"btn btn-danger btn-outline pull-right" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
