<div class='nested-fields col-md-12 no-padding clearfix cli-work'>
  <div class="field fields-cli">
    <%= f.collection_select(:client_id, options_for_client, :first, :second, {include_blank: 'Selecione ou digite um nome de um cliente'}, {class:'form-control'}) %>
    <%= link_to_remove_association("X", f, class:"adj100 btn btn-outline btn-danger btn-remove") %>
  </div>
</div>
