 <div class="grid col-md-12" id="powers">
   <label> Poderes </label>

  <div class="col-md-6 no-padding">
    <input type="checkbox" id="checkAll">
    <label for="checkAll">Todos os poderes especiais</label>
  </div>

    <%= f.collection_check_boxes :power_ids, options_for_check_boxes, :id, :description do |cb|
      cb.label(class:"inline-radio") { cb.check_box(class:'power') + cb.text }
    end %>
  </div>
