<div class='nested-fields col-md-12 no-padding cli-work'>
  <div class="field fields-cli">
      <%= f.collection_select(:office_id, options_for_office, :id, :name, {include_blank: 'Selecione um escritório'}, {class:'form-control'}) %>
    <%= link_to_remove_association("X", f, class:"adj100 btn btn-outline btn-danger btn-remove") %>
  </div>
</div>
