<p id="notice"><%= notice %></p>

<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Materia</th>
      <th>Acao</th>
      <th>Numero</th>
      <th>Honorariosp</th>
      <th>Honorariosp exfield</th>
      <th>Honorariosf</th>
      <th>Honorariosf exfield</th>
      <th>Honorarios trab x exito</th>
      <th>Honorarios parcelamento</th>
      <th>Escritorio</th>
      <th>Poderes</th>
      <th>Indicacao</th>
      <th>Indicacao comissao</th>
      <th>Pasta</th>
      <th>Atendimento inicial</th>
      <th>Advogado responsavel</th>
      <th>Advogado procuracao</th>
      <th>Estagiarios procuracao</th>
      <th>Paralegais procuracao</th>
      <th>Advogado parceiro</th>
      <th>Notas</th>
      <th>Checklist</th>
      <th>Checklist documentos</th>
      <th>Documentos pendentes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @works.each do |work| %>
      <tr>
        <td><%#= work.procedure %></td>
        <td><%#= work.subject %></td>
        <td><%#= work.action %></td>
        <td><%#= work.number %></td>
        <td><%#= work.rate_percentage %></td>
        <td><%#= work.rate_percentage_exfield %></td>
        <td><%#= work.rate_fixed %></td>
        <td><%#= work.rate_fixed_exfield %></td>
        <td><%#= work.rate_work %></td>
        <td><%#= work.rate_parceled %></td>
        <td>work.office -- todo -- corrigier </td>
        <td><%#= work.power %></td>
        <td><%#= work.recommendation %></td>
        <td><%#= work.recommendation_comission %></td>
        <td><%#= work.folder %></td>
        <td><%#= work.initial_atendee %></td>
        <td><%#= work.responsible_lawyer %></td>
        <td><%#= work.procuration_lawyer %></td>
        <td><%#= work.procuration_intern %></td>
        <td><%#= work.procuration_paralegal %></td>
        <td><%#= work.partner_lawyer %></td>
        <td><%#= work.note %></td>
        <td><%#= work.checklist %></td>
        <td><%#= work.checklist_document %></td>
        <td><%#= work.document_pendent %></td>
        <td><%#= link_to 'Show', work %></td>
        <td><%#= link_to 'Edit', edit_work_path(work) %></td>
        <td><%#= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
