<div class="col-md-12 col-sm-12">

  <h1 class="pull-left">Jobs</h1>

  <%= link_to new_job_path, class:"btn btn-success pull-right btn-new" do %>
    <i class="fa fa-plus"></i> Novo job
  <% end %>

  <tbody>
    <#% @works.each do |work| %>
      <tr>
        <td><%#= work.procedure %></td>
        <td><%#= work.subject %></td>
        <td><%#= work.action %></td>
        <td><%#= work.number %></td>
        <td><%#= work.rate_percentage %></td>
        <td><%#= work.rate_percentage_exfield %></td>
        <td><%#= work.rate_fixed %></td>
        <td><%#= work.rate_fixed_exfield %></td>
        <td><%#= work.rate_work %></td>
        <td><%#= work.rate_parceled %></td>
        <td>work.office -- todo -- corrigier </td>
        <td><%#= work.power %></td>
        <td><%#= work.recommendation %></td>
        <td><%#= work.recommendation_comission %></td>
        <td><%#= work.folder %></td>
        <td><%#= work.initial_atendee %></td>
        <td><%#= work.responsible_lawyer %></td>
        <td><%#= work.procuration_lawyer %></td>
        <td><%#= work.procuration_intern %></td>
        <td><%#= work.procuration_paralegal %></td>
        <td><%#= work.partner_lawyer %></td>
        <td><%#= work.note %></td>
        <td><%#= work.checklist %></td>
        <td><%#= work.checklist_document %></td>
        <td><%#= work.document_pendent %></td>
        <td><%#= link_to 'Show', work %></td>
        <td><%#= link_to 'Edit', edit_work_path(work) %></td>
        <td><%#= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
