  <%= link_to job_path(@client), class:"btn btn-info" do %>
    <i class="fa fa-eye"></i>
  <% end %>
<h1 class="pull-left"><%= link_to edit_job_path(@client) do %></h1>
    <i class="fa fa-edit"></i>
  <% end %>

  <%= link_to job_path(@client), class:"btn btn-danger",
      method: :delete, data: {confirm: "Tem certeza que deseja apagar"} do %>
      <i class="fa fa-times"></i>
  <% end %>
