  <div class="col-md-12">
    <label>Banco</label>
    <%= f.select :name, options_for_banks, {prompt: 'Escolha um banco'}, {class: "bank-select"} %>

  </div>

  <div class="col-md-6">
    <label>Agência</label>
    <%= f.text_field :agency, placeholder:"Agência", class:"form-control" %>
  </div>

  <div class="col-md-6">
    <label>Conta</label>
    <%= f.text_field :account, placeholder:"Conta", class:"form-control" %>
  </div>
