<div id="modal-client-type" class="modal fade">
  <div class="modal-dialog modal-content clearfix modal-xl">
    <div class="modal-body">

      <div class="col-md-12 col-sm-12">
        <h1 class="pull-left mg-left">Escolha um tipo de cliente</h1>
      </div>

      <div class="container">

        <div></div>

        <div></div>

        <div></div>

        <div></div>

      </div>

    </div>
  </div>
</div>
