<div id="modal-client-type" class="modal fade">
  <div class="modal-dialog modal-content clearfix modal-xl">
    <div class="modal-body">

      <div class="col-md-12 col-sm-12">
        <h1 class="pull-left mg-left">Escolha um tipo de cliente</h1>
      </div>

      <div class="container">

        <div>
          <%= link_to 'Pessoa Física', new_client_path(type: 'pf'), class: 'btn btn-success' %>
        </div>

        <div>
          <%= link_to 'Pessoa Jurídica', new_client_path(type: 'pj'), class: 'btn btn-success' %>
        </div>

        <div>
          <%= link_to 'Contador', new_client_path(type: 'cont'), class: 'btn btn-success' %>
        </div>

        <div>
          <%= link_to 'Representante Legal', new_client_path(type: 'rep'), class: 'btn btn-success' %>
        </div>

      </div>

    </div>
  </div>
</div>
