<div id="modal-client-type" class="modal fade">
  <div class="modal-dialog modal-content clearfix modal-xl">
    <div class="modal-body">

      <div class="col-md-12 col-sm-12">
        <h1 class="pull-left mg-left">Escolha um tipo de cliente</h1>
      </div>

      <div class="container col-md-12">

        <div class=" col-md-3">
          <%= link_to new_client_path(type: 'pf'), class: 'btn btn-outline-primary color-btn' do %>
            <i class="fa fa-user fa-4x"></i> <br>
            Pessoa Física
          <% end %>

        </div>

        <div class=" col-md-3">
          <%= link_to new_client_path(type: 'pj'), class: 'btn btn-outline-primary color-btn' do %>
            <i class="fa fa-building fa-4x"></i> <br>
            Pessoa Jurídica
          <% end %>

        </div>

        <div class=" col-md-3">
          <%= link_to new_client_path(type: 'cont'), class: 'btn btn-outline-primary color-btn' do %>
            <i class="fa fa-users fa-4x"></i> <br>
            Contador
          <% end %>

        </div>

        <div class=" col-md-3">
          <%= link_to new_client_path(type: 'rep'), class: 'btn btn-outline-primary color-btn' do %>
            <i class="fa fa-calculator fa-4x"></i> <br>
            Representante Legal
            <% end %>

        </div>

      </div>

    </div>
  </div>
</div>
