<div class='nested-fields col-md-5 no-padding clearfix phone-cli'>
  <div class="field">
    <label>E-mail*</label>
    <%= f.email_field :email, class:"form-control" %>
    <%= link_to_remove_association "Remover", f, class:"btn btn-anger btn-rmv-cli" %>
  </div>
</div>
