<div class='nested-fields col-md-4 clearfix phone-cli'>
  <div class="field">
    <%= f.label "Telefone" %>
    <%= f.text_field :phone, class:"form-control" %>
    <%= link_to_remove_association "Remover Telefone", f, class:"btn btn-anger btn-rmv-cli" %>
  </div>
</div>
