<div class='nested-fields col-md-5 no-padding clearfix phone-cli'>
  <div class="field">
    <label>Telefone*</label>
    <%= f.text_field :phone, class:"form-control required",'data-mask': '(00) 00000-0000', placeholder:"(00) 0 0000-0000" %>
    <%= link_to_remove_association "Remover", f, class:"btn btn-anger btn-rmv-cli" %>
  </div>
</div>
