<h1 class="superres mb-6 mt-4">Um novo fluxo de documentação</h1>
<h2 class="desc mb-3 mt-2">Crie, confira, compartilhe, entregue documentos jurídicos de forma mais prática, automatizada e inteligente</h2>

<div class="row justify-content-between">
  <div class="col btn btn-light mx-5 my-3">Conheça mais</div>
  <div class="col btn btn-primary mx-5 my-3">Experimente</div>
</div>


<div class="row justify-content-between ">
  <div class="col mx-5 my-3"> . Img .<%#= show_svg('undraw_fill_forms_yltj.svg') %></div>
  <div class="col mx-5 my-3">Preenchimento Semi Automatizado de Documentos</div>

</div>

