<article>
  <h1>Bem-vindo(a)</h1>

  <p>Seguem abaixo seus dados de acesso ao sistema para acompanhamento dos seus processos:</p>

  <p><b>E-mail:</b> <%= @customer.email%></p>
  <p><b>Senha:</b> Cliente123# </p>

</article>
