<article>

  <img src="http://www.procstudio.com.br/logo_email.png">

  <p>Olá</p>
  <p> Use as credenciais de acesso abaixo para acompanhar seus processos no sistema ProcStudio.</p>

  <p><b>Acesse:</b> www.procstudio.com.br/cliente</p>

  <p><b>E-mail:</b> <%= @customer.email%></p>
  <p><b>Senha:</b> Cliente123#</p>

  <br/>
  <br/>

  <p><b>Obs:</b> Não responder, este é um e-mail automático do sistema</p>

  <p>Este e-mail pode conter informações e documentos confidenciais e/ou protegidos por lei. Se você não for o efetivo destinatário, pedimos, por favor, que desconsidere completamente o seu conteúdo e os devolva ao seu remetente e os apague imediatamente, ficando proibida a sua cópia e/ou encaminhamento para terceiros.</p>

  <br/>
  <p>Apesar do ProcStudio tomar todas as cautelas necessárias para evitar que nenhum vírus esteja presente nessa mensagem, ela não se responsabiliza por eventuais perdas ou danos eventualmente causados por esse e-mail ou seus anexos.</p>

</article>
