@import "bootstrap/scss/bootstrap";
@import "font-awesome";

.rep-name, .rep-desc, .rep-btn {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}

.representative-cli {
  align-text:right;
  float: right;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
}

#error_explanation{
  color: #FF0000;
}

#client {
    visibility: hidden;
}

.cempercent{
  width: 100%;
}

.modal-dialog{
  width: 80%;
}

.modal-cashier{
  width: 25%;
}

.modal-font{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px;
}

.modal-text-input{
  width:150px;
  margin: 0 auto;
}

*{
  font-size: 14px;
}
body {
  min-height: 100%;
}
.body {
  min-height: 100vh;
}
.distance-top{
  margin-top: 5vh;
}
#color-back{
  background-color: rgba(42,63,84,1.0);
}
.field-user{
  margin-top: 1em;
}
.btn-user{
  color: #EEEEEE;
  font-weight: bold;
  margin-bottom: 1em;
}
.box-login h2{
  font-size: 2em;
  color: #222222;
}
.devise-link a{
  text-decoration: none;
  color: #111;
}
.devise-link a:hover{
  color: rgba(42,63,84,.5);
}
a.btn-user{
  color: #FFF;
}
.devise-link{
  margin-top: .3em;
}
.devise-logo{
  width: 30%;
}
.devise-titles{
  font-family: roboto;
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.btncent{
  margin-left:1em;

}
.clearfix{
  display:flex;
  align-items:center;
  min-width:100%;
}
.panel_toolbox{
  float:right!important;
  margin-left:auto;
  // margin-left:65%;
}
