@import "bootstrap/scss/bootstrap";
@import "font-awesome";

#error_explanation{
  color: #FF0000;
}

#client {
    visibility: hidden;
}

.modal-font{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px;
}

.modal-text-input{
  width:150px;
  margin: 0 auto;
}

*{
  font-size: 14px;
}
.distance-top{
  margin-top: 5vh;
}
#color-back{
  background-color: rgba(42,63,84,1.0);
}
.field-user{
  margin-top: 1em;
}
.btn-user{
  color: #EEEEEE;
  font-weight: bold;
  margin-bottom: 1em;
}
.box-login h2{
  font-size: 2em;
  color: #222222;
}
.devise-link a{
  text-decoration: none;
  color: #111;
}
.devise-link a:hover{
  color: rgba(42,63,84,.5);
}
a.btn-user{
  color: #FFF;
}
.devise-link{
  margin-top: .3em;
}
.devise-logo{
  width: 30%;
}
.devise-titles{
  font-family: roboto;
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.btncent{
  margin: 0 0.5em !important;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}
.panel_toolbox{
  float:right!important;
  margin-left:auto;
}
.page-item.active .page-link {
    color: #859eb9 !important;
    border: solid 1px #DDDDDD !important;
}

.no-margin{
  margin-top: 0 !important;
}
#status-client{
    background: #2a3f54;
    padding: 2px 19px;
    border-radius: 15px;
    font-weight: bolder;
    color: #EEEEEE;
    margin: 0 10px;
}
.btn-link{
  color: #c6c7cb !important;
  font-size: 1.3em !important;
}

.btn-modal-ind{
  float: right;
}

.btn-color{
  color:  #FFFFFF !important;
}
