/*
*= require bootstrap/dist/css/bootstrap
*= require font-awesome/css/font-awesome
*= require nprogress/nprogress
*= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
*= require custom
*= require select2
*= require select2-bootstrap
*/
body {
  min-height: 100%;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
   margin-top: 0.6em;
}
.left{
  float: right;
}
.h-line{
  color: #888;
}
.h-line::after{
  content: '';
  display: block;
  width: 65px;
  height: 2px;
  background: #AAAAAA;
  margin-top: .3em;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.btn-new{
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid{
  display: grid;
}
textarea{
  resize: none;
}
.rmk-text{
  font-size: 0.9em;
  text-align: justify;
  line-height: 2rem;
}
.nav_title.logo{
  display: flex;
  justify-content: center;
}
#logo-bola{
  width: 100%;
  padding: 0 1%;
}
.nav-item{
  height: 30px;
}
.nav_title{
  height: 105px;
}
#navbar, .site_title{
  height: 100px;
  text-align: center;
}
#title-logo{
  float: right;
  width: 100%;
  line-height: initial;
  text-align: left;
  padding: 5px 0;
  font-size: 1em;
}
.main_menu_side h3{
  text-shadow: none;
}
ul.side-menu li:hover{
  background-color: rgba(115,135,156,1);
}
.text-right{
  text-align: right;
}
.inline-radio{
  width: 100%;
}
input[type='radio'],
input[type='checkbox']{
  margin-right: 0.3em;
}
#gender,
#citizenship{
  margin: 0.7rem 0;
}
.no-padding{
  padding: 0;
}
.mg-top{
  margin-top: 0.7rem;
}
.mg-left{
  padding-left: 10px;
}
#datatable-responsive_length > label{
  display: none;
}
.panel_toolbox {
  min-width: 20px;
}
.phone-cli:last-child{
  margin: 0;
}
.phone-cli{
  margin-top: 3rem;
  padding-top: 3rem;
}
.btn-add-cli{
  width: 100%;
}
.btn-add-rep{
  width: 100%;
}
.cem_percent{
  width: 100%;
}
.btn-rmv-cli{
  //margin-top: .5em;
  width: 100%;
  border: solid 1px #ff6b6b;
  color: #ff6b6b;
}
#datatable-dash_length label{
   display: none;
 }
.form-group > label,
.form-group > .field_with_errors{
  width: 25%;
}
.form-group > .field_with_errors > label{
  width: 100%;
}
.left_col{
  margin: 0;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
}
footer div{
  width: 25%;
  padding: 0 1.5em;
}
.icon-footer{
  font-size: 1.8em;
  margin-right: .5em;
}
 footer div h1{
   font-size: 1em;
   font-weight: bolder;
 }
 footer div a{
    display: block;
    margin-bottom: .6em;
  }
a.icon-footer{
  display: inline;
}
.table-actions{
  width: 250px;
}
.table-action-content{
  text-align: center;
  text-align: left;
}
span.section{
  color: #73879C;
}
.show-data-works{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.show-data-works section{
  width: 33.33%;
  margin-bottom: 3rem;
}
.show-data-works section span{
  display: block;
  line-height: 1.9em;
}
.in-line{
  display: inline;
}
.panel-dashboard{
  min-height: 485px;
}
.container-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.container-flex p,
.container-flex a{
  margin: 0 !important;
  font-size: 1.1rem;
}
.ordering-contact{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    gap: 1rem;
}
.ordering-btn-add{
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
}
.add-button-rep{
  display: flex;
  flex-flow: row-reverse;
}
.fields-cli{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.recommend-container{
  display: flex;
  justify-content: space-between;
}
.container-row{
  width: 70%;
}
.recommend-container-child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {
  div.nav-item {
    display: none;
  }
  .show-data-works section{
    width: 100%;
    margin-bottom: 3rem;
  }
}

.div-btn-add-email{
  position: absolute;
  width: 100%;
  padding-bottom: 1rem !important;
}

.new-classe{
  margin-top: 5rem !important;

}
