/*
*= require bootstrap/dist/css/bootstrap
*= require font-awesome/css/font-awesome
*= require nprogress/nprogress
*= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
*= require custom
*/
body {
  min-height: 100%;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
   // border: solid 1px #DDDDDD;
   margin-top: 0.6em;
}
.left{
  float: right;
}
.h-line{
  color: #888;
}
.h-line::after{
  content: '';
  display: block;
  width: 65px;
  height: 2px;
  background: #AAAAAA;
  margin-top: .3em;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.btn-new{
  margin-top: 10px;
  margin-bottom: 10px;
}
// Form works
.grid{
  display: grid;
}
textarea{
  resize: none;
}
.radio_buttons legend{
  margin-bottom: -1em;
}

// Fim form works

.rmk-text{
  font-size: 0.9em;
  text-align: justify;
  line-height: 2rem;
}

.nav_title.logo{
  display: flex;
  justify-content: center;
}

#logo-bola{
  width: 100%;
  padding: 0 1%;
}
.nav-item{
  height: 30px;
}
.nav_title{
  height: 105px;
}
#navbar, .site_title{
  height: 100px;
  text-align: center;
}
#title-logo{
  float: right;
  width: 100%;
  line-height: initial;
  text-align: left;
  padding: 5px 0;
  font-size: 1em;
}
.main_menu_side h3{
  text-shadow: none;
}
ul.side-menu li:hover{
  background-color: rgba(115,135,156,1);
}
.text-right{
  text-align: right;
}
.inline-radio{
  width: 100%;
}
input[type='radio'],
input[type='checkbox']{
  margin-right: 0.3em;
}
#gender,
#citizenship{
  margin: 0.7rem 0;
}
.no-padding{
  padding: 0;
}
.mg-top{
  margin-top: 0.7rem;
}
// datatables
#datatable-responsive_length > label{
  display: none;
}
.panel_toolbox {
  min-width: 20px;
}
.phone-cli{
  margin: 0;
}
.btn-add-cli{
  width: 100%;
}
.btn-rmv-cli{
  margin-top: .5em;
  width: 100%;
  border: solid 1px #ff6b6b;
  color: #ff6b6b;
}
#datatable-dash_length label{
   display: none;
 }
.left_col{
  margin: 0;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
}
footer div{
  width: 25%;
  padding: 0 1.5em;
}
.icon-footer{
  font-size: 1.8em;
  margin-right: .5em;
}

 footer div h1{
   font-size: 1em;
   font-weight: bolder;
 }
 footer div a{
    display: block;
    margin-bottom: .6em;
  }
a.icon-footer{
  display: inline;
}

// Datatables
.table-actions{
  width: 250px;
}
.table-action-content{
  text-align: center;
}
span.section{
  color: #73879C;
}

@media only screen and (max-width: 600px) {
  div.nav-item {
    display: none;
  }
}
