<p>Olá <%= @resource.email %>!</p>

<p>Estamos te confirmando que a sua senha foi alterada.</p>

<p>Caso não reconheça esse procedimento, favor efetuar a troca da senha para uma mais segura ou contatar o administrador do seu sistema</p>
