<p>Oi <%= @resource.email %>!</p>

<p> Você solicitou para alterar a sua senha de acesso ao sistema. Clique no link abaixo para alterar sua senha.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu para trocar sua senha, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você clique no link acima e crie uma nova.</p>
